//Biến cỡ chữ
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$fs-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;

//Biến màu
$color-white: #fff;
$color-blue: #1d365e;
$color-green: #008000;
$color-grey:	#808080;

//Định nghĩa các biến cho độ đậm chữ
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;